.title{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 58.59px;
  margin-bottom: 89px;
}

.content{
  display: flex;
  justify-content: space-around;
}

